* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1c2331;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 15px;
}

.brand-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.app-logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 40px;
    width: 1px;
    background-color: #444;
    margin-left: 20px;
}

.user-info-section {
    flex: 1;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name {
    color: rgb(40, 167, 69);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-header {
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
    color: rgb(40, 167, 69);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: center;
}

.badges-container { 
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.actions-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.branch-selector select {
    display: flex;
    align-items: center;
    background-color: rgba(40, 167, 69, 0.1);
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(40, 167, 69);
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location-icon { 
    margin-right: 5px;
    font-size: 14px;
}

.branch-selector select {
    background-color: transparent;
    border: none;
    color: rgb(40, 167, 69);
    font-size: 14px;
    outline: none;
    padding: 5px;
    width: auto;
    cursor: pointer;
}

.branch-selector select option {
    background-color: #1c2331;
    color: white;
}

.logout-button {
    width: 40px;
    height: 40px;
    background-color: rgb(40, 167, 69);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.logout-button:hover {
    background-color: #f60f03;
}

.hidden {
    display: none;
}

.mini-cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    position: relative; 
    padding: 5px;
  }
  
  .mini-cart svg {
      fill: currentColor; 
      display: block;
      margin: 0;
      padding: 0;
  }
  
  .mini-cart .item-count {
    background-color: green; 
    color: white;
    border-radius: 50%;
    padding: 2px 6px; 
    font-size: 12px;
    line-height: 1;
    position: absolute; 
    top: -8px;
    right: -8px; 
    min-width: 18px;
    text-align: center;
    border: 1px solid white; 
  }


@media screen and (max-width: 768px) { 
    .header { 
        height: auto; 
        flex-direction: column; 
        padding: 10px; 
        position: relative;
    } 

    .brand-section { 
        width: 100%; 
        justify-content: space-between; 
        margin-right: 0; 
        margin-bottom: 10px; 
    } 

    .divider { 
        display: none; 
    } 

    .user-info-section { 
        width: 100%; 
        margin: 10px 0; 
        font-size: 4; 
    }

    .user-header {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .badges-container { 
        margin-top: 8px; 
    } 

    .actions-section { 
        flex-direction: column;
        align-items: stretch; 
        gap: 10px; 
    } 
 
    .branch-selector { 
        width: 100%;  
    } 
 
    .branch-selector select { 
        width: 100%;
    } 
    
    .logout-button {
        align-self: center;
        margin-top: 10px;
        position: absolute;
        top: 10px;
        right: 15px;
    }
} 
 
@media screen and (max-width: 480px) {
    .branch-selector {
        padding: 3px 8px;
    }

    .branch-selector select {
        font-size: 12px;
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .logout-button {
        width: 36px;
        height: 36px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .actions-section {
        gap: 5px;
    }

    .branch-selector select {
        font-size: 14px;
        min-width: auto;
    }
}

@media screen and (max-width: 820px) and (max-height: 1180px) {
    .header,
    .brand-section,
    .user-info-section,
    .user-header,
    .badges-container,
    .actions-section,
    .branch-selector select,
    .logout-button,
    .user-name {
        font-size: 10px;
    }

    .branch-selector select {
        font-size: 10px;
    }
}

.branch-selector {
    width: auto;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 50px;
}

.branch-selector select {
    width: auto;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 4px; 
}

.branch-selector select option {
    width: auto;
    max-width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-menu {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

@media screen and (max-width: 820px) and (min-width: 390px) {

    .branch-selector {
        margin: 0 50px;
    }

    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 15px;
        background-color: #1c2331;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        padding: 15px;
        border-radius: 10px;
        z-index: 1000;
    }

    .menu-toggle:checked + .menu-icon + .nav-menu {
        display: flex;
    }

    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-menu li {
        width: 100%;
        text-align: right;
    }

    .hamburger-disponible {
        display: block;
        color: rgb(40, 167, 69);
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        margin-top: 10px;
    }

    .outside-disponible {
        display: none;
    }

    .outside-logout {
        display: none;
    }

    .hamburger-logout {
        display: block;
        text-align: right;
        color: rgb(40, 167, 69);
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
    }

    .hamburger-logout:hover {
        color: #f60f03;
    }
    
}

@media screen and (min-width: 821px) {
    .menu-icon {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        padding: 0;
    }

    .outside-disponible {
        display: block;
    }

    .hamburger-disponible {
        display: none;
    }

    .outside-logout {
        display: block;
    }

    .hamburger-logout {
        display: none;
    }
    
}


