<header class="header">
    <div class="brand-section">
        <a (click)="goToHome()">
            <img src="../../../assets/icons/icon.png" alt="Ubicación" class="app-logo">
        </a>

        <div class="divider"></div>
    </div>
    
    
    <div class="user-info-section">       
        <div class="user-details">
            <div class="user-header">
                <div class="user-header" >{{ usuario.nombre }}</div>
                <div class="user-header" *ngIf="!isLogin">
                    <i>TU CUPO DISPONIBLE ES: </i>
                    <span>{{ cupo | currency:'':'symbol':'1.0-0' }}</span>
                </div>
            </div>
            <div class="badges-container" *ngIf="!isHome">
                <div class="user-name" *ngIf="asesor">
                    <i>ASESOR:</i>
                    <span>{{ asesor }}</span>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="actions-section" [ngClass]="{ 'hidden': isLogin }">
        <ng-container *ngIf="!isHome">
            <div class="branch-selector">
                <select id="sucursal" (change)="onSucursalChange($event)">
                    <option value="" disabled selected>Seleccionar sucursal</option>
                    <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursal">
                        {{ sucursal.nombre_sucursal }} - {{ sucursal.asesor }}
                    </option>
                </select>
            </div>
            
        </ng-container>
        <button (click)="cerrarSesion()" class="logout-button" title="Cerrar sesión">⏻</button>
    </div>
    
</header>