* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    background-color: #1c2331;
    /* background-color: #32ad05; */
    /* background-color: rgb(40, 167, 69); */
    color: rgb(40, 167, 69);
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header span {
    font-size: 14px;
    font-weight: normal;
}

.logout-button {
    background-color:  rgb(40, 167, 69); 
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #1E3A8A;
}

.content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.footer {
    background-color: #053baf;
    color: white;
    text-align: center;
    padding: 16px;
    width: 100%;
    margin-top: auto;
}