<header class="header">
    <div class="brand-section">
        <a href="http://localhost:4200/auth/home" target="_blank">
            <img src="../../../assets/icons/icon.png" alt="Ubicación" class="app-logo">
        </a>

        <div class="divider"></div>
    </div>
    
    
    <div class="user-info-section">       
        <div class="user-details">
            <div class="user-name">{{ usuario.nombre }}</div>
            <div class="badges-container">
                <ng-container *ngIf="!isHome">
                <div class="info-badge vendor-badge" *ngIf="asesor">
                    <i class="badge-ase">ASESOR:</i>
                    <span>{{ asesor }}</span>
                </div>
                <div class="info-badge credit-badge">
                    <i class="badge-icon">TU CUPO ES</i>
                    <span>{{ cupo | currency:'':'symbol':'1.0-0' }}</span>
                </div>
                 </ng-container>
            </div>
        </div>
    </div>

    <div class="actions-section">
        <ng-container *ngIf="!isHome">
            <div class="branch-selector">
                <select id="sucursal" (change)="onSucursalChange($event)">
                    <option value="" disabled selected>Seleccionar sucursal</option>
                    <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursal">
                        {{ sucursal.nombre_sucursal }}
                    </option>
                </select>
            </div>
        </ng-container>
        <button (click)="cerrarSesion()" class="logout-button" title="Cerrar sesión">⏻</button>
    </div>
</header>