.loading-text,
.no-data {
  text-align: center;
  font-size: 16px;
  padding: 1rem;
  color: #004080;
}

.filtro-contenedor {
  padding: 20px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filtro-contenedor select,
.filtro-contenedor .fecha-picker {
  padding: 0.5rem;
  border-radius: 8px;
  border-left: 5px solid #1a8e03;
  background-color: #c0bdbd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 14px;
}

.search {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
  height: calc(2.5rem + 2px);
  line-height: 1.5;
}

.search:hover {
  background-color: #45a049;
}

.search:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
  box-shadow: none;
}

.contenedor-datos-mapa {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  padding: 0 1rem;
}

.columna-datos {
  flex: 1;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 250px;
}

.detalle-seleccionado-panel {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 1rem;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.columna-mapa {
  flex: 4;
  padding: 1rem;
  background-color: #e9f2ff;
  border-radius: 8px;
  border: 1px solid #99c2ff;
  min-height: 300px;
}

.detalle-item {
  margin-bottom: 1rem;
}

.marker-cluster div {
  background-color: rgba(53, 123, 255, 0.6);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border: 2px solid #004080;
  width: 40px;
  height: 40px;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
  border: 2px solid rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
  border: 2px solid rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
  border: 2px solid rgba(241, 128, 23, 0.6);
}

@media (max-width: 600px) {
  .filtro-contenedor {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    gap: 0.75rem;
    font-size: 8px;
  }

  .filtro-contenedor select,
  .filtro-contenedor .fecha-picker
   {
    width: 100%;
    font-size: 8px;
  }

  .contenedor-datos-mapa {
    flex-direction: column;
  }

  .columna-datos,
  .columna-mapa {
    width: 100%;
  }

  .detalle-seleccionado-panel {
    max-height: 300px;
  }
}
