/* dialog.component.css */
:host {
    display: block;
  }
  
  .mat-dialog-container {
    background-color: #303f9f; 
    padding: 0; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
  }


  .mat-dialog-title {
    padding: 10px 0; 
    font-size: 24px !important;
    font-weight: bold !important;
    color: black !important;
    text-align: center;
    background-color: #303f9f;
    margin-bottom: 10px;
  }
  
  .mat-dialog-content {
    font-size: 16px !important;
    font-weight: bold !important;
    color: black !important;
    text-align: center;
    padding: 20px 20px;
    background-color: #303f9f;
  }
  
  .mat-dialog-actions {
    display: flex !important;
    justify-content: center !important;
    padding: 16px 0;
    background-color: #303f9f;
  }
  
  button {
    background-color: green !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    border: none !important;
    transition: background-color 0.3s !important;
  }
  
  button:hover {
    background-color: red;
  }

  :host .mat-dialog-actions button,
:host [mat-dialog-actions] button {
  background-color: #3f51b5 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  border: none !important;
  transition: background-color 0.3s !important;
}

:host .mat-dialog-actions button:hover,
:host [mat-dialog-actions] button:hover {
  background-color: #303f9f !important;
}