/* dialog.component.css */
:host {
  display: block;
}

.mat-dialog-container {
  background-color: #30a54b; 
  padding: 0; 
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  transition: all 0.3s ease; 
}


.mat-dialog-title {
  padding: 10px 0; 
  font-size: 24px ;
  font-weight: bold;
  color: black;
  text-align: center;
  background-color: #30a54b;
  margin-bottom: 10px;
}

.mat-dialog-content {
  font-size: 16px;
  /* font-weight: bold; */
  color: black;
  text-align: center;
  padding: 20px 20px;
  background-color: #30a54b;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  padding: 16px 0;
  background-color: #30a54b;
}

.mat-dialog-actions button {
  background-color: green ; /* O el color que desees para el botón */
  color: white ;
  font-weight: bold ; /* Aplica la negrita al texto del botón */
  border-radius: 4px ;
  padding: 10px 20px ;
  border: none ;
  transition: background-color 0.3s ;
  margin: 0 auto; /* Esto también ayuda a centrar un elemento flex si es el único hijo */
  display: block; /* Asegura que el margen auto funcione si es necesario */
}

button {
  background-color: green ;
  color: white ;
  font-weight: bold ;
  border-radius: 4px ;
  padding: 10px 20px ;
  border: none ;
  transition: background-color 0.3s ;
}

button:hover {
  background-color: red;
}

/* :host .mat-dialog-actions button,
:host [mat-dialog-actions] button {
background-color: #3f51b5 ;
color: white;
font-weight: bold;
border-radius: 4px;
padding: 10px 20px;
border: none;
transition: background-color 0.3s;
font-weight: bold;
justify-content: center;
}

:host .mat-dialog-actions button:hover,
:host [mat-dialog-actions] button:hover {
background-color: #303f9f;
} */