
<div #scrollContainer class="proveedores-container">
  <div class="proveedores-scroll">
    <!-- Usa ngFor solo una vez con el trackBy para mejor rendimiento -->
    <div class="proveedor-item"
         *ngFor="let proveedor of proveedoresDuplicados; trackBy: trackByProveedor"
         (click)="filtrarPorProveedor(proveedor.proveedor)">
      <img 
        [src]="getProveedorImageUrl(proveedor.proveedor)" 
        [alt]="proveedor.proveedor || 'Proveedor sin nombre'"
        (error)="imagenError($event, proveedor.proveedor)"
        loading="lazy"> <!-- Mejora de performance -->
      <span>{{ proveedor.proveedor }}</span>
    </div>
  </div>
</div>


<div *ngIf="cargando" >
  <span class="visually-hidden">Cargando...</span>
</div>
<!-- <div *ngIf="mostrandoMensajeCartera" class="modal-backdrop"> -->
  <!-- <div  class="modal-backdrop">
  <div class="modal-content">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Estamos validando la cartera y la disponibilidad de cupo. Por favor espera...</p>
  </div>
</div> -->


<div class="productos-container">
  <div class="producto-card" *ngFor="let producto of productos" [class.con-descuento]="producto.descuento > 0">   
     <img [src]="getProductImageUrl(producto.referencia)"    
     [alt]="'Imagen de ' + producto.nombre"
     class="producto-imagen"
     (error)="handleProductImageError($event)">
    <h3>{{ producto.nombre }}</h3>
    <p><strong>Referencia:</strong> {{ producto.referencia }}</p>
    <p><strong>Unidades por empaque:</strong> {{ producto.factor }}</p>
    <p><strong>Precio:</strong> {{ producto.lista_precio[0].precio | currency }}</p>
    <p><strong>Disponible:</strong> {{ producto.disponible }}</p>

    <div *ngIf="producto.descuento > 0" class="descuento-label">
      🔥 Valida con tu asesor el descuento.
      <p class="terminos">Aplican términos y condiciones.</p>
    </div>

    <div class="cantidad-container">
      <input type="number" min="1" class="cantidad-input" placeholder="Cantidad">
      <button class="agregar-btn" (click)="agregarAlCarrito(producto)">🛒 Agregar</button>
    </div>
  </div>
</div>

