<app-header></app-header>


<div *ngIf="cargando" class="loader-container">
  <div class="spinner"></div>
  <p>Cargando productos...</p>
</div>

<div class="productos-container">
  <div class="producto-card" *ngFor="let producto of productos">
    <h3>{{ producto.nombre }}</h3>
    <p><strong>Referencia:</strong> {{ producto.referencia }}</p>
    <p><strong>Precio:</strong> {{ producto.lista_precio[0]?.precio | currency }}</p>
    <p><strong>Disponibles:</strong> {{ producto.disponible }}</p>
  </div>
</div>

<app-footer></app-footer>
