.footer {
    background-color: #1c2331;
    color: rgb(40, 167, 69);
    font-weight: 400;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0; 
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.footer-left img {
    width: 100px;
    height: auto;
}

.footer-center {
    display: flex;
    gap: 30px;
}

.footer-center a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.footer-center a img:hover {
    transform: scale(1.2);
}

.footer-right a {
    text-align: right;
    color: rgb(40, 167, 69);
}

.footer-right p {
    margin: 5px 0;
    font-size: 16px;
}

.social-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

body, html {
    height: 100%;
    margin: 0;
}

.main-content {
    flex: 1;
}

.footer-left, .footer-center, .footer-right {
    margin: 0 15px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 15px;
    }

    .footer-left, .footer-center, .footer-right {
        margin: 10px 0;
    }

    .footer-left, .footer-center, .footer-right {
        margin-bottom: 10px;
    }

    .footer-left img {
        width: 60px;
    }

    .footer-center a img {
        width: 20px;
        height: 20px;
    }

    .footer-right p {
        font-size: 12px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
    }

    .footer-right {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 10px;
    }

    .footer-left, .footer-center, .footer-right {
        margin: 8px 0;
    }

    .footer-left img {
        width: 40px;
    }

    .footer-center a img {
        width: 15px;
        height: 15px;
    }

    .footer-right p {
        font-size: 10px;
    }

    .social-icon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 996px) and (min-width: 701px) {
    .footer-right p {
        font-size: 10px;
    }
}

@media (min-width: 996px) {
    .footer {
        padding: 12px;
        bottom: 0;
    }

    .footer-container {
        gap: 20px;
        padding: 20px;
    }

    .footer-left img {
        width: 80px;
    }

    .footer-center a img {
        width: 24px;
        height: 24px;
    }

    .footer-right p {
        font-size: 12px;
    }

    .social-icon {
        width: 24px;
        height: 24px;
    }
}

@media (min-height: 1080px) {
    .footer {
        flex: 1;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-height: 1080px) and (max-width: 480px) {
    .footer {
        position: relative;
        flex: 1;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
