<footer class="footer">
    <div class="footer-container">

        <div class="footer-left">
            <img src="../../../assets/icons/g.litoral.svg" alt="Logo">
        </div>

        <div class="footer-center">
            <a href="https://wa.me/+573160265485" target="_blank">
                <img src="../../../assets/icons/whatsapp.jpg" alt="WhatsApp" class="social-icon">
            </a>
            <a href="https://www.instagram.com/grupo_litoral_monteria" target="_blank">
                <img src="../../../assets/icons/instagram.jpg" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.facebook.com/GrupoLitoralOficial" target="_blank">
                <img src="../../../assets/icons/facebook.jpg" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.google.com/maps/?q=8.788461,-75.855859" target="_blank">
                <img src="../../../assets/icons/map.jpg" alt="Ubicación" class="social-icon">
            </a>
            <a href="mailto:infomon@grupolitoral.co">
                <img src="../../../assets/icons/email.png" alt="Correo" class="social-icon">
            </a>
        </div>

        <div class="footer-right">
            <p>Dirección: Cra. 6 #79 - 80 Bodega 2</p>
            <p>Ciudad: Montería, Córdoba</p>
            <p>Teléfono: (604)  7853487</p>
            <p>Email: <a href="mailto:infomon@grupolitoral.co">infomon&#64;grupolitoral.co</a></p>
        </div>

        <div class="footer-right">
            <p>Dirección: Cra. 43 A No. 9 Sur 195</p>
            <p>Ciudad: Medellín, Oficina 1442 Ed. Square</p>
            <p>Teléfono: (604) 5201120</p>
            <p>Email: <a href="mailto:asisgenencia@grupolitoral.co">asisgenencia&#64;grupolitoral.co</a></p>
        </div>
    </div>
</footer>
